<a href="javascript:void(0);" tabindex="0" class="intro-button-left intro-search-link" id="landingPageFullPageButton"
   data-bind="click: openFullPageView, event: {keypress: openFullPageViewOnKeyPress},
                attr: {title: 'Custom Full Page'}">
    <span class="intro-new-account-icon"></span>
    <span class="intro-pseudo-header" data-bind="text: 'Custom Full Page'"></span>
</a> 

<a href="javascript:void(0);" tabindex="0" class="intro-button-left intro-search-link" id="landingPageFiscalizationButton"
   data-bind="click: openFiscalizationView, event: {keypress: openFiscalizationViewOnKeyPress},
                attr: {title: 'Fiscalization'}">
    <img class="intro-printer-icon" src="custom/images/printer.png" alt="printer image"/>
    <span class="intro-pseudo-header" data-bind="text: 'Fiscalization'"></span>
</a> 

<a href="javascript:void(0);" tabindex="0" class="intro-button-left intro-search-link" id="landingPageIFRS9Button"
   data-bind="click: openIFRS9View, event: {keypress: openIFRS9ViewOnKeyPress},
                attr: {title: 'IFRS9'}">
    <span class="intro-new-account-icon"></span> 
    <span class="intro-pseudo-header" data-bind="text: 'IFRS9'"></span>
</a> 